# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.packages
.pub-cache/
.pub/
/build/
lib/**/*.freezed.dart

# Web related
lib/generated_plugin_registrant.dart

# Windows related
**/.Thumbs.db
**/Thumbs.db
**/desktop.ini

# iOS/Pod related
**/ios/.symlinks/
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/flutter_assets/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Android related
**/android/app/build/
**/android/app/src/main/res/mipmap-*
**/android/app/src/main/res/raw/
**/android/gradle/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/.gradle
**/android/build/
**/android/*.iml

# Exceptions to above rules.
!**/ios/Flutter/ephemeral/.vmservice

#builder-build시 자동작성되는 파일들
.vscode/c_cpp_properties.json
.flutter-plugins-dependencies
lib/screen/quick/quick_standby_screen.dart
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h
linux/flutter/generated_plugins.cmake
macos/Flutter/GeneratedPluginRegistrant.swift
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
windows/flutter/generated_plugins.cmake

.flutter-plugins-dependencies